<%- include("partials/header"); -%>
<%- include("layouts/navbar"); -%>




<div class="w-25 mx-auto mb-5 mt-3">
  <div class="card">
    <h5 class="card-header">Sepetin</h5>
    <div class="card-body">
      <% if (typeof products === 'undefined') { %>
        <p class="card-text">Ürün: Sepetiniz Boş</p>
      <% } else { %>
        <% let total = 0; %>
        <% products.map(data => { %>
          <% total += parseInt(data.productPrice); %>
          <p class="card-text">Ürün: <%= data.productName %> Ürün Fiyatı: <%= data.productPrice %> TL</p>
        <% }) %>
        <p>Toplam Fiyat: <%= total %> TL</p>
      <% } %>
    </div>
    <div class="card-footer text-center">
      <a href="/clearbasket?_method=GET" class="btn btn-outline-danger">Sepeti Boşalt</a>
    </div>
  </div>
  
</div>
    
    <div class="w-50 mx-auto">
        <form action="/order" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-info fs-4">Kişisel Bilgiler</p>
                    <div class="mb-3">
                        <label for="name" class="form-label" >Ad</label>
                        <input type="text" class="form-control" id="name" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="surname" class="form-label">Soyad</label>
                        <input type="text" class="form-control" id="surname" name="surname">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" name="useremail">
                    </div>
                    <div class="mb-3">
                      <label for="ss" class="form-label">Telefon No</label>
                      <input type="text" class="form-control" id="ss" name="userphone" placeholder="0 999 999 99 99" oninput="restrictInput(this)">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Adres Bilgileri</label>
                      <input type="text" class="form-control" id="exampleInputEmail1"
                          aria-describedby="emailHelp" name="useradress" placeholder="Şehir / İlçe / Sokak / Bina">
                  </div>
                </div>
                <div class="col-md-6">
                    <p class="text-info fs-4">Kart Bilgileri</p>
                    <div class="mb-3">
                        <label for="cardName" class="form-label">Kart Üzerinde Yazan İsim</label>
                        <input type="tel" class="form-control" id="cardName" name="cardname">
                    </div>
                    <div class="mb-3">
                      <label for="ss" class="form-label">Kart Numarası</label>
                      <input type="text" class="form-control" id="ss" name="cardnumber" placeholder="" oninput="restrictInputCardNumber(this)">
                    </div>
                    <div class="mb-3">
                      <label for="ss" class="form-label">Günvenlik Kodu</label>
                      <input type="text" class="form-control" id="ss" name="cardcvv" placeholder="" oninput="restrictInputCardCvv(this)">
                    </div>
                    <div class="mb-3">
                      <label for="ss" class="form-label">Son Kullanma Tarihi</label>
                      <input type="text" class="form-control" id="ss" name="carddate" placeholder="" oninput="restrictInputCardDate(this)">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mx-auto d-block">Siparişi Tamamla</button>
        </form>
    </div>



    


  <script>
    function restrictInput(element) {
      // Sadece rakam girişi yapılmasını sağlama
      element.value = element.value.replace(/[^0-9]/g, '');
  
      // Sadece 11 haneli numaraya izin verme
      if (element.value.length > 11) {
        element.value = element.value.slice(0, 11);
      }
    }

    function restrictInputCardNumber(element) {
      // Sadece rakam girişi yapılmasını sağlama
      element.value = element.value.replace(/[^0-9]/g, '');
  
      // Sadece 11 haneli numaraya izin verme
      if (element.value.length > 16) {
        element.value = element.value.slice(0, 16);
      }
    }

    function restrictInputCardCvv(element) {
      // Sadece rakam girişi yapılmasını sağlama
      element.value = element.value.replace(/[^0-9]/g, '');
  
      // Sadece 11 haneli numaraya izin verme
      if (element.value.length > 3) {
        element.value = element.value.slice(0, 3);
      }
    }

    function restrictInputCardDate(element) {
      // Sadece rakam girişi yapılmasını sağlama
      element.value = element.value.replace(/[^0-9]/g, '');
  
      // Sadece 11 haneli numaraya izin verme
      if (element.value.length > 4) {
        element.value = element.value.slice(0, 4);
      }
    }
  </script>
  
    <%- include("layouts/footer"); -%>
    <%- include("partials/footer"); -%>